.button {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: #00CE90;
  color: #FFF;
  font-size: 1em;
  width: 100%;
  height: 52px;
  margin: 15px 0;

  &:hover {
    background-color: darken($color: #00CE90, $amount: 3) ;
  }
}