.signup-form {
  max-width: 515px;
  padding: 70px;
  box-sizing: border-box;

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 1.5em;
    color: #33334D;
    font-weight: normal;
  }
}