.strength-indicator {
  color: #666E89;

  &__step-container {
    display: flex;
    justify-content: space-between;
  }
  
  &__step--undefined,
  &__step--false,
  &__step--true, {
    transition: background 250ms ease-in;
    background-color: #E9EAF3;
    height: 8px;
    width: calc(34% - 8px);
    border-radius: 6px;
  }

  &__step--true {
    transition: background 250ms ease-in;
    background-color: #00E7AA;
  }
  
  &__step--false {
    transition: background 250ms ease-in;
    background-color: #FF9084;
  }

  &__item-text-container {
    padding-left: 0px;
  }

  &__item-text--undefined,
  &__item-text--false,
  &__item-text--true, {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 20px;

    &::before {
      transition: background 250ms ease-in;
      content: '';
      position: absolute;
      left: 0;
      top: calc(50% - 6px);
      background-color: #E9EAF3;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }

  &__item-text--true::before {
    transition: background 250ms ease-in;
    background-color: #00E7AA;
  }
  
  &__item-text--false::before {
    transition: background 250ms ease-in;
    background-color: #FF9084;
  }
}