.text-input {
  padding: 10px 0px;

  &__label {
    font-size: .9em;
    color: #6d668b;
    margin: .2em 0;
  }

  &__raw-input {
    width: 100%;
    box-sizing: border-box;
    color: #666E89;
    margin: 0;
    padding: 8px;
    font-size: .95em;
    outline: none;
    border: 1px solid;
    height: 44px;
  }
}