@import "https://fonts.googleapis.com/css?family=Roboto";
body {
  margin: 0;
  padding: 0; }

* {
  font-family: "Roboto"; }

.button {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: #00CE90;
  color: #FFF;
  font-size: 1em;
  width: 100%;
  height: 52px;
  margin: 15px 0; }
  .button:hover {
    background-color: #00bf85; }

.logo__image {
  width: 75px;
  height: auto; }

.signup-form {
  max-width: 515px;
  padding: 70px;
  box-sizing: border-box; }
  .signup-form__header {
    text-align: center; }
  .signup-form__title {
    font-size: 1.5em;
    color: #33334D;
    font-weight: normal; }

.strength-indicator {
  color: #666E89; }
  .strength-indicator__step-container {
    display: flex;
    justify-content: space-between; }
  .strength-indicator__step--undefined, .strength-indicator__step--false, .strength-indicator__step--true {
    transition: background 250ms ease-in;
    background-color: #E9EAF3;
    height: 8px;
    width: calc(34% - 8px);
    border-radius: 6px; }
  .strength-indicator__step--true {
    transition: background 250ms ease-in;
    background-color: #00E7AA; }
  .strength-indicator__step--false {
    transition: background 250ms ease-in;
    background-color: #FF9084; }
  .strength-indicator__item-text-container {
    padding-left: 0px; }
  .strength-indicator__item-text--undefined, .strength-indicator__item-text--false, .strength-indicator__item-text--true {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 20px; }
    .strength-indicator__item-text--undefined::before, .strength-indicator__item-text--false::before, .strength-indicator__item-text--true::before {
      transition: background 250ms ease-in;
      content: '';
      position: absolute;
      left: 0;
      top: calc(50% - 6px);
      background-color: #E9EAF3;
      width: 12px;
      height: 12px;
      border-radius: 50%; }
  .strength-indicator__item-text--true::before {
    transition: background 250ms ease-in;
    background-color: #00E7AA; }
  .strength-indicator__item-text--false::before {
    transition: background 250ms ease-in;
    background-color: #FF9084; }

.text-input {
  padding: 10px 0px; }
  .text-input__label {
    font-size: .9em;
    color: #6d668b;
    margin: .2em 0; }
  .text-input__raw-input {
    width: 100%;
    box-sizing: border-box;
    color: #666E89;
    margin: 0;
    padding: 8px;
    font-size: .95em;
    outline: none;
    border: 1px solid;
    height: 44px; }
